@use '../abstracts/colors' as clr;
@use '../abstracts/fonts' as fonts;
@use '../abstracts/mixin' as mixin;

.footer-wrapper {
  width: 100%;
  height: 35vh;
  background-color: clr.$clr-dark;
  gap: 2rem;

  @include mixin.flexbox(center, center, column);

  & a {
    @include mixin.flexbox(center, center, column);
  }
}
.footer-logo {
  margin-bottom: 2rem;
  width: 250px;

  @media screen and (min-width: 650px) {
    margin-bottom: 1rem;
    width: 300px;
  }
}
.footer-connect-wrapper {
  gap: 1rem;
  @include mixin.flexbox(center, center, row);

  & i {
    font-size: fonts.$fs-8;
    color: clr.$clr-primary;
  }
}
.footer-nav-wrapper {
  gap: 1rem;
  @include mixin.flexbox(center, center, row);

  & a {
    text-decoration: none;
    font-size: fonts.$fs-1;
    color: clr.$clr-primary;

    @media screen and (min-width: 650px) {
      font-size: fonts.$fs-4;
    }
  }
}
.copyright-wrapper {
  padding: 1rem;
  border-top: 1px solid rgba($color: clr.$clr-primary, $alpha: .3);
  background-color: black;

 @include mixin.flexbox(center, center, row); 

 & p {
  font-size: fonts.$fs-1;
  color: clr.$clr-primary;
 }
}