@use "../abstracts/mixin" as mixin;
@use "../abstracts/colors" as clr;
@use "../abstracts/fonts" as fonts;

.hero-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 0.5rem;
  @include mixin.full-screen;
}
.hero-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  padding-inline: 1rem;
  @include mixin.full-screen;
  @include mixin.flexbox(center, center, column);
}
.hero-image {
  width: 100%;
  object-fit: cover;

  @media screen and (max-width: 1200px) {
    height: 100%;
  }
}
.hero-title-wrapper {
  @include mixin.flexbox(center, center, column);

  @media screen and (min-width: 650px) {
    padding-inline: 2rem;
  }
}
.hero-title {
  text-align: center;
  color: clr.$clr-primary;
  font-weight: fonts.$fw-bolder;
  font-size: fonts.$fs-9;
  line-height: 1.75rem;
  margin-bottom: 2rem;

  @media screen and (min-width: 650px) {
    font-size: fonts.$fs-10;
    line-height: 2.5rem;
  }
}
.hero-subtitle {
  text-align: center;
  color: clr.$clr-primary;
  font-weight: fonts.$fw-bolder;
  font-size: fonts.$fs-5;
  margin-bottom: 0.5rem;

  @media screen and (min-width: 650px) {
    font-size: fonts.$fs-8;
    margin-bottom: 0;
  }
}
.hero-tagline {
  text-align: center;
  color: clr.$clr-primary;
  font-weight: fonts.$fw-light;
  font-size: fonts.$fs-5;
  margin-right: 0.25rem;
  gap: 0.5rem;
  @include mixin.flexbox(center, center, column);

  & a {
    width: 45px;
    height: 45px;
    color: clr.$clr-primary;
    font-size: fonts.$fs-9;
    transition: color 0.3s ease;

    &:hover {
      color: clr.$clr-golden;
      transition: color 0.3s ease;
    }
  }

  @media screen and (min-width: 650px) {
    font-size: fonts.$fs-8;
    margin-right: 0.5rem;
  }
}
