$clr-primary: #faf9f6;
$clr-dark: #0e0c0a;
$clr-hover: #dcdcdc;
$clr-golden: #daa520;
$clr-success: #138808;
$clr-focus: #add8e6;
$clr-good: #0ea600;
$clr-bad: #f50a0a;

.grayscale {
  filter: grayscale(100%);
  filter: brightness(50%);
}
